---
title: "Mediterranean Paleoecology"
layout: splash
header:
  image: /assets/img/header-bg.jpg
  overlay_image: /assets/img/header-bg.jpg
  actions:
    - label: "Know the team"
      url: "#team"
excerpt: "Welcome to the Mediterranean Paleoecology Group.
"
feature_row:
  - image_path: "/assets/img/approach/earth.svg"
    title: "Paleoecology"
    excerpt: "Paleoecological analysis provide valuable information on species and community changes through time."
  - image_path: "/assets/img/approach/flask.svg"
    title: "Phylogenetics"
    excerpt: "Phylogenetic analysis inform on the relationship between species and populations, as well as their demographic changes."
  - image_path: "/assets/img/approach/laptop.svg"
    title: "Ecoinformatics"
    excerpt: "Independent and spatially explicit evidence to contrast and complement paleoecology and phylogenetics."
---

<div id="approach">
  <h1 class="section-heading text-center">Our research approach</h1>
  <p class="text-center">We combine three main research tools to study mediterranean ecosystems...</p>
  <div class="col-lg-12 text-center">
    {% include feature_row %}
  </div>
</div>
<br>
<div id="publications">
  <h1 class="section-heading text-center">Publications</h1>
  <p class="text-center">Our lattest publications...</p>
  <div class="grid__wrapper">
    {% assign papers_sorted = site.papers | reverse  %}
    {% for post in papers_sorted limit: 4 %}
      {% include archive-single.html type="grid" %}
    {% endfor %}
  </div>
  <div class="text-center float-none">
    <a href="/papers" class="btn btn--primary">More papers...</a>
  </div>
</div>
<br>
<div id="projects">
  <h1 class="section-heading text-center">Projects</h1>
  <p class="text-center">The most recent projects...</p>
  <div class="grid__wrapper">
    {% assign projects_sorted = site.projects | reverse  %}
    {% for post in projects_sorted limit: 4 %}
      {% include archive-single.html type="grid" %}
    {% endfor %}
  </div>
  <div class="text-center float-none">
    <a href="/projects" class="btn btn--primary">Older projects...</a>
  </div>
</div>
<br>
<div id="team">
  <h1 class="section-heading text-center">Team</h1>
  <p class="text-center">Our amazing team...</p>
  <div class="grid__wrapper text-center">
    {% for post in site.people %}
      {% include archive-single.html type="grid" %}
    {% endfor %}
  </div>
</div>