---
title: "Mediterranean Paleoecology"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0"
  overlay_image: /assets/img/header-bg.jpg
  actions:
    - label: "Download"
      url: "#test-link"
excerpt: "Welcome to the Mediterranean Paleoecology Group."
feature_row:
  - image_path: "/assets/img/approach/earth.svg"
    title: "Paleoecology"
    excerpt: "Paleoecological analysis provide valuable information on species and community changes through time."
  - image_path: "/assets/img/approach/flask.svg"
    title: "Phylogenetics"
    excerpt: "Phylogenetic analysis inform on the relationship between species and populations, as well as their demographic changes."
  - image_path: "/assets/img/approach/laptop.svg"
    title: "Ecoinformatics"
    excerpt: "Independent and spatially explicit evidence to contrast and complement paleoecology and phylogenetics."
---

<section id="approach">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">Research approach</h2>
        <p>We combine three main research tools to study mediterranean ecosystems.</p>
        {% include feature_row %}
    </div>
</section>

<section id="publications">
  <div class="text-center">
    <div class="grid__wrapper">
      <h2 class="section-heading">Publications</h2>
      <p>Our lattest publications.</p>
      {% for post in site.papers limit:3 %}
        {% include archive-single.html type="grid" %}
      {% endfor %}
    </div>
    <a href="/publications" class="btn--primary">Read more...</a>
  </div>
</section>

{% include projects.html %}
{% include team.html %}
