<!-- About Section -->
    <section id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our projects</h2>
                    <h3 class="section-subheading text-muted">Discover our history through our research projects.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2017</h4>
                                    <h4 class="subheading">Relic-Flora</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Proyectos de Investigación de Excelencia. Consejería de Economía, Innovación y Ciencia (Junta de Andalucía).</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019-2021</h4>
                                    <h4 class="subheading">Med-Refugia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Proyectos de Investigación del Plan Nacional. Ministerio de Economía y Competitividad (Gobierno de España).</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020-2021</h4>
                                    <h4 class="subheading">Relic-Flora2</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Proyectos de I+D+i en el marco del programa operativo FEDER Andalucía. Consejería de Economía, Innovación y Ciencia (Junta de Andalucía).</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020-23</h4>
                                    <h4 class="subheading">Oromed-Refugia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Proyectos de I+D+i para entidades de investigación de la Junta de Andalucía 2018. Consejería de Economía, Innovación y Ciencia (Junta de Andalucía).</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2021-23</h4>
                                    <h4 class="subheading">Forestmed</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Proyectos de I+D+i en el marco del programa operativo FEDER Andalucía. Consejería de Economía, Conocimiento, Empresas y Universidades (Junta de Andalucía).</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>